<div class="row">
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >Information de votre compte</span></div>
      </div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr><th>Username</th> <td>{{userInfo.username}}</td></tr>
            <tr><th>Login</th> <td>{{userInfo.login}}</td></tr>
            <tr><th>Is Administrator</th> <td>{{userInfo.isAdmin}}</td></tr>
            <tr><th>Is connected</th> <td>{{userInfo.isValid}}</td></tr>
            <tr><th>Session token</th> <td>{{userInfo.token}}</td></tr>
            <tr><th>Language</th> <td>{{userInfo.language}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >Mise à jour du mot de passe</span></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12" >

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
