<div class="container" ng-controller="HomeControler as vm">
    <div class="row page-header" >
      <div class="col-xs-3" >
        <h1>Home</h1>
      </div>
      <div class="col-xs-8" >
        <div ng-include="'app/shared/alertContainer/alertContainerView.html'" /> 
      </div>
    </div>
    <div class="jumbotron" ng-if="!IsUserRegistered" >
      <h1>OpenJabNab Unleashed</h1>
      <p>
        Cette nouvelle version profite des dernières technologies en matière 
        d'interface web ainsi que de nombreuses évolutions du serveur OpenJabNab 
        offrant de nouvelles fonctionalité pour toujours plus de fun avec ces lapins domestiques
      </p>
      <p>
        Créez un compte et connectez vous pour découvrir les nouveautées
      </p>
    </div>
    <uib-tabset ng-if="IsUserRegistered">
        <uib-tab heading="Vos Lapins">
            <ng-include src="'./app/components/home/homeUserBunnies.html'" /> 
        </uib-tab>
        <uib-tab heading="Vos Ztamps">
            <!--
            <ng-include
                src="'./app/components/city/cityFullView.html'">
            </ng-include>
            -->
        </uib-tab>
        <uib-tab heading="Votre Compte">
            <ng-include src="'./app/components/home/homeUserAccount.html'" /> 
        </uib-tab>
    </uib-tabset>
</div>
