<div class="container" ng-controller="HomeControler as vm">
    <h1 class="page-header">Home</h1>
    <div class="jumbotron">
      <h1>OpenJabNab Unleashed</h1>
      <p>
        Cette nouvelle version profite des dernières technologies en matière 
        d'interface web ainsi que de nombreuses évolutions du serveur OpenJabNab 
        offrant de nouvelles fonctionalité pour toujours plus de fun avec ces lapins domestiques
      </p>
      <p>
        Crée un compte et connectez vous pour découvrir les nouveautées
      </p>
    </div>    
    <tabset>
        <tab heading="City Vitals">
            <!--
            <ng-include
                src="'./app/components/city/cityVitalsView.html'">
            </ng-include>
            -->
        </tab>
        <tab heading="Full details">
            <!--
            <ng-include
                src="'./app/components/city/cityFullView.html'">
            </ng-include>
            -->
        </tab>
        <tab heading="City Roads Traffic">
            <!--
            <ng-include
                src="'./app/components/city/cityTrafficView.html'">
            </ng-include>
            -->
        </tab>
    </tabset>
</div>
