<div class="container" ng-controller="HomeControler as vm">
    <h1 class="page-header">Home</h1>
    <div class="jumbotron" ng-if="!IsUserRegistered" >
      <h1>OpenJabNab Unleashed</h1>
      <p>
        Cette nouvelle version profite des dernières technologies en matière 
        d'interface web ainsi que de nombreuses évolutions du serveur OpenJabNab 
        offrant de nouvelles fonctionalité pour toujours plus de fun avec ces lapins domestiques
      </p>
      <p>
        Créez un compte et connectez vous pour découvrir les nouveautées
      </p>
    </div>
    <tabset ng-if="IsUserRegistered">
        <tab heading="Vos Lapins">
            <ng-include
                src="'./app/components/home/homeUserBunnies.html'">
            </ng-include>
        </tab>
        <tab heading="Vos Zstamps">
            <!--
            <ng-include
                src="'./app/components/city/cityFullView.html'">
            </ng-include>
            -->
        </tab>
        <tab heading="Votre Compte">
            <!--
            <ng-include
                src="'./app/components/city/cityTrafficView.html'">
            </ng-include>
            -->
        </tab>
    </tabset>
</div>
