<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >Les Lapins</span></div>
      </div>
      <div class="row">
        <div class="col-xs-2" style="position:relative" ng-repeat=" bunny in userBunnies">
          <div ng-if="bunny.IsConnected">
            <img src="assets/img/nabaztag-awake.png" />
          </div>
          <div ng-if="!bunny.IsConnected">
            <img src="assets/img/nabaztag-sleep.png" />
          </div>
          <h2>{{bunny.Name}}</h2>
          <p>{{bunny.MAC}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >Ajouter un lapin à votre compte</span></div>
      </div>
      <div class="row">
        <div class="col-xs-6" style="position:relative">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nom du lapin" ng-model="rabbitName">
          </div>         
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Adresse MAC du lapin" ng-model="rabbitMac">
          </div>                
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <!-- jobs graph 
    <div class="col-sm-12">
        <panel-job panel-title="Jobs"
            job-data="CityData.GlobalDistrict.Jobs"
            percentage-of-label="(% of city)">
        </panel-job>
    </div> -->
    <!--happiness / crime
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading"><div class="panel-title"><span >Happiness & Criminality</span></div></div>
            <div class="row">
                <div class ="col-xs-12" >
                    <service-bargraph-percent
                        service-data="CityData.GlobalDistrict.Happiness"
                        xaxis-label="Happiness in %">
                    </service-bargraph-percent>
                </div>
                <div class ="col-xs-12" >
                    <service-bargraph-percent
                        service-data="CityData.GlobalDistrict.Crime"
                        xaxis-label="Criminality in %">
                    </service-bargraph-percent>
                </div>
            </div>
        </div>
    </div>  -->
</div>
