<div class="container" ng-controller="bunniesCtrl as vm">
    <div class="row page-header" >
      <div class="col-xs-3" >
        <h1>Vos lapins</h1>
      </div>
      <div class="col-xs-8" >
        <div ng-include="'app/shared/alertContainer/alertContainerView.html'" /> 
      </div>
    </div>
    <div class="row" ng-if="IsUserRegistered" >
      <uib-tabset >
        <uib-tab index="$index" ng-repeat="bunny in userBunnies" heading="{{bunny.Name}}">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title"><span >Configuration de l'API</span></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr><th>Api Violet activée</th> <td>{{bunny.Config.GlobalSettings.VApiEnable}}</td></tr>
                    <tr><th>Token API Violet</th> <td>{{bunny.Config.GlobalSettings.VApiToken}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title"><span >Information de connexion</span></div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr><th>Last Jabber Connection</th> <td>{{bunny.Config.GlobalSettings.LastJabberConnection}}</td></tr>
                    <tr><th>Last IP Address</th> <td>{{bunny.Config.GlobalSettings.LastIP}}</td></tr>
                    <tr><th>Last Locate</th> <td>{{bunny.Config.GlobalSettings.LastLocate}}</td></tr>
                    <tr><th>Last Locate String</th> <td>{{bunny.Config.GlobalSettings.LastLocateString}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
</div>
<!-- /.container -->