<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title"><span >Bouton</span></div>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <!--Simple click-->
      <div class="form-group">
        <label>Action sur simple click : </label >
          
        <div class="dropdown" style="{min-width:270px;}">
          <button class="btn btn-default dropdown-toggle" type="button"  
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedBunny != undefined? (selectedBunny.selectedSimpleClickAction == undefined ? "Aucune" : selectedBunny.selectedSimpleClickAction ) : "NA"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" >
            <li  >
              <a href="javascript:void(0);" ng-click="selectedBunny.selectedSimpleClickAction = undefined">none</a>
            </li>
            <li ng-repeat="plg in selectedBunny.Config.Plugins | filter: {HasClick : true, BunnyEnabled : true}" >
              <a href="javascript:void(0);" ng-click="selectedBunny.selectedSimpleClickAction = plg.Name">{{plg.Name}}</a>
            </li>
          </ul>
        </div>          
      </div>
      <!--Double click-->
      <div class="form-group">
        <label>Action sur double click : </label>
        <div class="dropdown" style="{min-width:270px;}">
          <button class="btn btn-default dropdown-toggle" type="button"  
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedBunny != undefined? (selectedBunny.selectedDoubleClickAction == undefined ? "Aucune" : selectedBunny.selectedDoubleClickAction ) : "NA"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" >
            <li  >
              <a href="javascript:void(0);" ng-click="selectedBunny.selectedDoubleClickAction = undefined">none</a>
            </li>
            <li ng-repeat="plg in selectedBunny.Config.Plugins | filter: {HasClick : true, BunnyEnabled : true}" >
              <a href="javascript:void(0);" ng-click="selectedBunny.selectedDoubleClickAction = plg.Name">{{plg.Name}}</a>
            </li>
          </ul>
        </div>          
        
        <!--
        <select class="form-control" ng-model="selectedBunny.selectedDoubleClickAction" >
          <option value="none">None</option> 
          <option ng-repeat="plg in selectedBunny.Config.Plugins" 
                  ng-if="plg.HasClick && plg.BunnyEnabled"
                  value="{{plg.Name}}">{{plg.Name}}</option>
        </select>
        -->
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="SaveButtonAction()" > 
          Appliquer
        </button>
      </div>
    </div>
  </div>
</div>
