<div class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title"><span >Bouton</span></div>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      <!--Simple click-->
      <div class="form-group">
        <label>Action sur simple click : </label >
          
        <div class="dropdown" style="{min-width:270px;}">
          <button class="btn btn-default dropdown-toggle" type="button"  
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedBunny != undefined? (selectedBunny.selectedSimpleClickPlugin == undefined ? "Aucune" : selectedBunny.selectedSimpleClickPlugin.VisualName ) : "NA"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" >
            <li  >
              <a href="javascript:void(0);" ng-click="SelectSimpleClickPlugin(undefined)">none</a>
            </li>
            <li ng-repeat="plg in selectedBunny.Config.Plugins | filter: {HasClick : true, BunnyEnabled : true}" >
              <a href="javascript:void(0);" ng-click="SelectSimpleClickPlugin(plg.Name)">{{plg.VisualName}}</a>
            </li>
          </ul>
        </div>          
      </div>
      <!--Double click-->
      <div class="form-group">
        <label>Action sur double click : </label>
        <div class="dropdown" style="{min-width:270px;}">
          <button class="btn btn-default dropdown-toggle" type="button"  
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{selectedBunny != undefined? (selectedBunny.selectedDoubleClickPlugin == undefined ? "Aucune" : selectedBunny.selectedDoubleClickPlugin.VisualName ) : "NA"}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" >
            <li  >
              <a href="javascript:void(0);" ng-click="SelectDoubleClickPlugin(undefined)">none</a>
            </li>
            <li ng-repeat="plg in selectedBunny.Config.Plugins | filter: {HasClick : true, BunnyEnabled : true}" >
              <a href="javascript:void(0);" ng-click="SelectDoubleClickPlugin(plg.Name)">{{plg.VisualName}}</a>
            </li>
          </ul>
        </div>          
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="SaveButtonAction()" > 
          Appliquer
        </button>
      </div>
    </div>
  </div>
</div>
