<td>{{pluginInfo.VisualName}}</td>
<td>{{pluginInfo.Name}}</td>
<td>{{pluginInfo.FileName}}</td>
<td>{{pluginInfo.IsEnabled}}</td>
<td>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button"  class="btn btn-default" 
            ng-click="" >
      <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
    </button>
  </div>
</td>
<td>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button"  class="btn btn-default" 
            ng-click="PluginReload(pluginInfo.Name)" >
      <span class="glyphicon glyphicon-minus" aria-hidden="true" style="color:red" ></span>
    </button>
    <button type="button"  class="btn btn-default" 
            ng-click="PluginReload(pluginInfo.Name)" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true" style="color:blue" ></span>
    </button>
  </div>
</td>
<td>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button"  class="btn btn-default" 
            ng-click="PluginReload(pluginInfo.Name)" >
      <span class="glyphicon glyphicon-repeat" aria-hidden="true" style="color:green" ></span>
    </button>
  </div>
<td>
