<div ng-repeat="(rootPath, apiList) in ApiFull">
  <h3>{{"Section :" + rootPath}}</h3>
  <div class="row" ng-repeat="apiFamilly in apiList" >
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div ng-if="apiFamilly.Name" class="panel-title"><span >{{"Plugin :" + apiFamilly.Name}}</span></div>
          <div ng-if="!apiFamilly.Name" class="panel-title"><span >{{"General"}}</span></div>
        </div>
        <div class="panel-body">
          <div ng-if="funcList.length != 0" ng-repeat="(cat, funcList) in apiFamilly.FunctionCategories" >
            <h4>{{"Type de fonctions : " + cat}}</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Function</th>
                  <th scope="col">Arguments</th>
                  <th scope="col">Chemin complet</th>
                </tr>
              </thead>            
              <tbody>
                <tr ng-repeat="func in funcList">
                  <td>{{func.functionName}}</td> 
                  <td>{{MakeApiFunctionArgumentsString(func.parameters)}}</td>
                  <td ng-if="cat=='Api' && !apiFamilly.Name && rootPath != 'bunny/'" >{{"/"+rootPath+func.functionName+MakeApiUrlArgumentsString(func.parameters)}}</td>
                  <td ng-if="cat=='Api' && !apiFamilly.Name && rootPath == 'bunny/'" >{{"/bunny/&lt;Bunny Mac&gt;/"+func.functionName+MakeApiUrlArgumentsString(func.parameters)}}</td>
                  <td ng-if="cat=='Api' && apiFamilly.Name" >{{"/plugin/"+apiFamilly.Name+"/"+func.functionName+MakeApiUrlArgumentsString(func.parameters)}}</td>
                  <td ng-if="cat=='Bunny' && apiFamilly.Name" >{{"/bunny/&lt;Bunny Mac&gt;/"+apiFamilly.Name+"/"+func.functionName+MakeApiUrlArgumentsString(func.parameters)}}</td>
                  <td ng-if="cat=='Ztamp' && apiFamilly.Name" >{{"/ztamp/&lt;ztamp serial&gt;/"+apiFamilly.Name+"/"+func.functionName+MakeApiUrlArgumentsString(func.parameters)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
