<div class="row" >
  <div class="col-md-12">

    <div class="panel panel-info">
      <div class="panel-body">
        <input type="checkbox" aria-label="..." ng-model="ShowInternals" > Show Internal details</input>
      </div><!-- /panel-body -->
    </div><!-- /panel -->
    
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >Server Mandatory Plugins</span></div>
      </div>
      <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="ReloadPlugins()" >
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <span>Refresh</span>
          </button>
        </div>
      
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3" scope="col">Plugin full name</th>
              <th class="col-md-1" scope="col">Enabled</th>
              <th class="col-md-1" scope="col">Configure</th>
              <th class="col-md-1" scope="col">Reload</th>
              <th class="col-md-2" ng-if="ShowInternals" scope="col">Plugin short name</th>
              <th class="col-md-2" ng-if="ShowInternals" scope="col">Library file</th>
            </tr>
          </thead>            
          <tbody>
            <tr ng-repeat="pluginInfo in PluginsData.Required">
              <td class="col-md-3" >{{pluginInfo.VisualName}}</td>
              <td class="col-md-1" >{{pluginInfo.Enabled}}</td>
              <td class="col-md-1" >
                <div class="btn-group" role="group" aria-label="..." ng-if="pluginInfo.HasAdminPage == true" >
                  <button type="button"  class="btn btn-default" 
                          ng-click="" >
                    <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
                  </button>
                </div>
              </td>
              <td class="col-md-1" >
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button"  class="btn btn-default" 
                          ng-click="PluginReload(pluginInfo.Name)" >
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true" style="color:green" ></span>
                  </button>
                </div>
              </td>
              <td class="col-md-2" ng-if="ShowInternals" >{{pluginInfo.Name}}</td>
              <td class="col-md-2" ng-if="ShowInternals" >{{pluginInfo.FileName}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >System Plugins</span></div>
      </div>
      <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="ReloadPlugins()" >
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <span>Refresh</span>
          </button>
        </div>
        <table class="table">
          <thead>
            <tr ng-include src="'./app/components/admin/adminFullPluginsTableHeader.html'" />
          </thead>
          <tbody>
            <tr ng-repeat="pluginInfo in PluginsData.System | orderBy:['Enabled', 'VisualName']" 
                ng-include src="'./app/components/admin/adminFullPluginsTableRowCol.html'" />
          </tbody>
        </table>                
      </div>
    </div>
  </div>
</div>

<div class="row" >
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >Bunny Plugins</span></div>
      </div>
      <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="ReloadPlugins()" >
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <span>Refresh</span>
          </button>
        </div>
        <table class="table">
          <thead>
            <tr ng-include src="'./app/components/admin/adminFullPluginsTableHeader.html'" />
          </thead>
          <tbody>
            <tr ng-repeat="pluginInfo in PluginsData.Bunny | orderBy:['Enabled', 'VisualName']" 
                ng-include src="'./app/components/admin/adminFullPluginsTableRowCol.html'" />
          </tbody>
        </table>                
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><span >BunnyZtamp Plugins</span></div>
      </div>
      <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="ReloadPlugins()" >
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            <span>Refresh</span>
          </button>
        </div>
        <table class="table">
          <thead>
            <tr ng-include src="'./app/components/admin/adminFullPluginsTableHeader.html'" />
          </thead>
          <tbody>
            <tr ng-repeat="pluginInfo in PluginsData.BunnyZtamp | orderBy:['Enabled', 'VisualName']" 
                ng-include src="'./app/components/admin/adminFullPluginsTableRowCol.html'"  />
          </tbody>
        </table>                
      </div>
    </div>
  </div>
</div>
