<div class="container" ng-controller="adminCtrl as vm">
    <div class="row page-header" >
      <div class="col-xs-3" >
        <h1>Administration</h1>
      </div>
      <div class="col-xs-8" >
        <div ng-include="'app/shared/alertContainer/alertContainerView.html'" /> 
      </div>
    </div>
    <uib-tabset >
      <uib-tab heading="Plugins du Serveur">
        <ng-include src="'./app/components/admin/adminPluginsView.html'" /> 
      </uib-tab>
      <uib-tab heading="Utilisateurs">
        <ng-include src="'./app/components/admin/adminUsersView.html'" /> 
      </uib-tab>
      <uib-tab heading="Lapins">
          
      </uib-tab>
      <uib-tab heading="API Serveur">
        <ng-include src="'./app/components/admin/adminApiView.html'" /> 
      </uib-tab>
    </uib-tabset>
</div>
<!-- /.container -->